$accent: #EF7F1A;
$light:#D9C896;
$dark:#3c2c21;
$medium:#EF8D3C;
$brown:#805a40;

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%roboto-700{
  font-family: 'RobotoCondensed-Bold', sans-serif;
  font-weight: 700;
}
%roboto-400{
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
%roboto-300{
  font-family: 'RobotoCondensed-Ligth', sans-serif;
  font-weight: 300;
}
%btn{
    min-width: 200px;
    height: 40px;
    padding: 0 15px;
    background: linear-gradient(180deg, #8C592B 0%, #D9C896 100%);
    border: 1px solid #8C592B;
    border-radius: 30px;
    font-size: 21px;
    line-height: 40px;
    color: #000;
    z-index: 2;
    box-shadow: 8px 4px 8px 0px rgba(7, 8, 9, 0.2);
    transition: all, .3s;
    &:hover,
    &:active {
        color: $accent;
    }

    &:active {
        box-shadow: 8px 4px 8px 0px rgba(7, 8, 9, 0.2) inset;
    }
}